article .document-title{
    font-weight: bold;
    color: #555;
    font-size: 14px;
}
article .document-subtitle{
    font-size: 12px;
}
article .drag_drop{
    margin: 30px 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    background-color: #eee;
    border-radius: 0.4rem;
    border: 3px dashed #d4d4d8;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    font-weight: 400;
    color: #555;
}
article .drag_drop:hover,
article .drag_drop.active{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
article .drag_drop i{
    font-size: 25px;
    color: #19bcdb;
}

article .list-files{
    max-height: 300px;
    font-size: 10px;
    margin: 0 0 0 5px;
    padding-right: 5px;
    color: #555;
    overflow-y: auto;
}
article .list-files .item-file{
    display: flex;
    justify-content: stretch;
    gap: 8px;
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
}
