.marco {
    position: relative;
    padding: 8px;
    background-color: white;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.marco::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: wheat;
    /* border-right: 40px solid rgba(0, 0, 0, 0.8);
    border-top: 40px solid transparent; */
}
.marco.active::after{
    content: "✔";
    position: absolute;
    bottom: -8px;
    right: -8px;
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(100,100,100,0.8);
}